// main: ../style.less


// -------------------------------------------------------------------------
// Pagination
// -------------------------------------------------------------------------

.pagination, .woocommerce-pagination {
    width: 100%;
    margin: 0; clear: both;
    padding: 0 15px;

    ul {
        list-style-type: none;
        display: inline-block;
        margin: 0;
        padding: 0;

        li {
            float: left;
            margin: 0 5px 0 0;

            .page-numbers {
                display: block;
                width: 35px;
                height: 35px;
                font-weight: bold;
                line-height: 35px;
                font-size: 12px;
                text-align: center;
                color: #fff;
                background-color: @purple;
                border: none;
                transition: background-color 0.2s ease, color 0.2s ease ;

                &.active, &:hover, &.pagination-nav {
                    color: @dark;
                    background-color: @green;
                }
            }
        }
    }
}

/**********************************************************************/
/* SIDEBAR */
/**********************************************************************/


.blog, .archive, .search {
    background-color: #fff;

    .content {
        background-color: #fff;
    }

    .page-banner {
        display: flex; align-items: center; justify-content: center;
        min-height: 300px; width: 100%; text-align: center; color: #fff;
        background-position: center; background-size: cover; background-repeat: no-repeat; margin: 0 0 0px 0;

        h1 { line-height: 1; letter-spacing: 0.04em; font-size: 36px; .uppercase; color: #fff; margin: 0; }

        .secondary-img { margin: 25px 0; max-width: 100%; height: auto; }

        .buttons {
            margin: 30px 0 0 0;
        }
    }
}

.post-flex {
    display: flex; margin: 30px 0;

    .post-single { width: 70%; display: table; flex-shrink: 0; }

    .post-list {
        width: 70%; display: table; margin: 0 -15px;

        .post {
            margin: 0 0 40px 0; display: inline-block; vertical-align: top; width: 50%; padding: 0 15px; flex-shrink: 0;

            .post-thumbnail {
                width: 100%; height: 15vw; position: relative;
                min-height: 200px; background-position: top center; background-repeat: no-repeat; background-size: cover;

                .overlay {
                    position: absolute; top: 0; right: 0; bottom: 0; left: 0; opacity: 0;
                    background-color: fade(#000, 70%); z-index: 11; .transition;
                    display: flex; align-items: center; justify-content: center;

                    span { color: #fff; font-size: 14px; .monts; .uppercase; letter-spacing: 0.2em; }
                }

                .cats {
                    position: absolute; bottom: 0; left: 0;
                    padding: 10px 15px; background-color: @purple;

                    .monts; .uppercase; font-size: 12px; margin: 0; display: inline-block;

                    a { color: #fff; }
                }

                &:hover {

                    .overlay { opacity: 1; }
                }
            }

            .post-text {
                padding: 10px 0 0 0; margin: 10px 0;
                 border-top: 1px solid @dark; border-bottom: 1px solid @dark;

                .dates {
                    display: block; font-size: 12px; .monts; letter-spacing: 0.04em; font-style: italic; color: #999; margin: 0 0 10px 0;
                }

                h3 {
                    font-size: 18px; .uppercase; .monts; margin: 0 0 10px 0; line-height: 1;

                    a { color: @dark; }
                }

                .button-link{
                    display: inline-block; padding: 13px 30px; margin: 0; letter-spacing: 0;
                    border-color: @dark; color: @dark; .monts.bold; .uppercase; font-size: 12px; margin: 0 0 20px 0;
                    line-height: 1;

                    &:hover {
                        background-color: @green; border-color: @green; color: @dark;
                    }

                }

                p { .georgia; font-size: 14px;  display: block; }
            }
        }
    }

    .blog-sidebar {
        width: 30%;
        padding: 0 0 0 30px;

        .search {
            position: relative; margin: 0 0 30px 0;

            .input-seach { width: 100%; padding: 10px 25px 10px 15px; background: none; line-height: 21px; border: 1px solid @dark; color: @dark; }
            button {
                position: absolute; top: 0; right: 20px; line-height: 43px; box-shadow: none; border: none;
                background-color: transparent; color: @purple; padding: 0;
            }
        }

        .widget {
            margin: 0 0 30px 0;

            h3 { .monts.bold; font-size: 14px; text-transform: uppercase; margin: 0 0 15px 0; padding: 0 0 8px 0; border-bottom: 1px solid #58595b; }
            ul { list-style-type: none; padding: 0; margin: 0 0 30px 0; }
            ul li { margin: 0 0 8px 0; line-height: 17px; }
            ul li a { color: @dark; .monts.bold; font-size: 13px; }
            img { max-width: 100%; height: auto; }

            .tagcloud {

                a { display: block; font-size: 13px !important; color: @dark; .monts.bold; margin: 0 0 8px 0; }

            }

            .login-remember { display: none; }

            .button-primary { border: none;  }

            #loginform, .ms-membership-form-wrapper {

                p {

                    a { color: @purple; }
                }

                a { color: @purple; }
            }

            input { float: none; width: 100%; padding: 12px 12px; margin: 0; border: 1px solid @purple; border-radius: 5px; .monts.bold; line-height: 1em; text-transform: uppercase; }

            a:hover { color: @pink; }
        }
    }
}

.no-results {
    font-size: 20px;
}

.single {

    .post-flex {
        margin: 70px 0 0 0;
    }

    .title-section {
        margin: 0 0 30px 0;

        h1 {
            font-size: 40px; margin: 0 0 15px 0;
        }

        .meta {
            .uppercase; .monts; color: @dark;

        }
    }

    .post {
        .georgia;

        img { max-width: 100%; height: auto;}
    }

    p, ul, ol { .georgia; }
}
