// main: ../style.less

.monts {
    font-family: 'Montserrat-Regular';
    font-weight: normal;
    font-style: normal;

    &.bold { font-family: 'Montserrat-Bold'; font-weight: normal; }
}

.georgia {
    font-family: Georgia, serif;
    font-weight: normal;
    font-style: normal;
}

.zaba {
    font-family: 'Zabaglione-Regular';
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat/Montserrat-Bold.otf')  format('opentype'),
       url('../fonts/montserrat/Montserrat-Bold.woff') format('woff'),
       url('../fonts/montserrat/Montserrat-Bold.ttf')  format('truetype'),
       url('../fonts/montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat/Montserrat-Regular.otf')  format('opentype'),
       url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
       url('../fonts/montserrat/Montserrat-Regular.ttf')  format('truetype'),
       url('../fonts/montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zabaglione-Regular';
  src: url('../fonts/zabaglione/Zabaglione-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/zabaglione/Zabaglione-Regular.otf')  format('opentype'),
        url('../fonts/zabaglione/Zabaglione-Regular.woff') format('woff'),
        url('../fonts/zabaglione/Zabaglione-Regular.ttf')  format('truetype'),
        url('../fonts/zabaglione/Zabaglione-Regular.svg#Zabaglione-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
