// main: ../style.less

/**********************************************************************/
/* FOOTER */
/**********************************************************************/
.footer {

    .socials {
        list-style-type: none; display: flex; align-items: center; justify-content: center; padding: 100px 0;

        li {
            margin: 0 12.5px;

            a {
                display: block; width: 50px; height: 50px; line-height: 50px; border-radius: 50px;
                text-align: center; color: #fff; font-size: 25px;

                &:before { display: none; }

                &.fa-facebook     { background-color: @turquoise; }
                &.fa-instagram    { background-color: @green; font-size: 30px; }
                &.fa-envelope-o   { background-color: @blue; }
                &.fa-pinterest    { background-color: @pink; font-size: 30px; }
                &.fa-youtube-play { background-color: @purple; }
            }
        }
    }

    .copyrights {
        background-image:url('../images/footer-bg.jpg');
        display: block; width: 100%; height: 140px; position: relative;
        background-position: center; background-repeat: no-repeat; background-size: cover;

        h2 { display: inline-block; .uppercase; font-size: 12px; line-height: 1.3; letter-spacing: 0.04em; margin: 0; padding: 10px 0; }
        h2 strong { .monts.bold;  }

        .logo {
            position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);

            img { max-width: 70px; height: auto; }
        }
    }
}

/**********************************************************************/
/* 768px */
/**********************************************************************/

@media ( max-width: @screen-tablet ) {

    .footer {

        .socials {
            flex-direction: column; padding: 40px 0;

            li a { margin: 0 0 15px 0; }

        }
    }
}
