// main: ../style.less

/**********************************************************************/
/* GENERAL */
/**********************************************************************/
body 	{ .monts; font-size: 14px; color: @dark; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; background-color: @bg; }

a,
input[type="submit"]	{ transition:  all 0.3s ease; }
a, a:hover, a:focus		{ color: @purple; text-decoration: none; }

* 						{ outline: none; }
a:active 				{ outline: none; }
:-moz-any-link:focus	{ outline: none; }

h1,h2,h3,h4,h5,h6 { .monts; margin: 0 0 20px 0; }

h1	{ font-size: 24px; }
h2	{ font-size: 20px; }
h3	{ font-size: 18px; }
h4	{ font-size: 14px; .monts.bold; .uppercase; letter-spacing: 0.04em; margin: 0 0 30px 0; }
h5	{ font-size: 14px; }

.content {
	min-height: 300px;

	p, ul, ol	{ line-height: 24px; }

	p strong { .monts;  }
}

::selection			{ background-color: @purple; color: #fff; }
::-moz-selection	{ background-color: @purple; color: #fff; }
::-webkit-scrollbar			{ width: 12px; }
::-webkit-scrollbar-track	{ background-color: #dfdfdf; }
::-webkit-scrollbar-thumb	{ background-color: @purple; outline: none; }

.page-wrapper { overflow: hidden; }

.container-fluid { max-width: 1200px; }

.content .contain, .content .member-layouts { max-width: 970px; margin: 0 auto; }

.section-title {
	line-height: 1; .monts.bold; margin: 80px 0;
	letter-spacing: 0.04em; font-size: 19px; .uppercase; position: relative;

	span { display: table; margin: 0 auto; position: relative; background-color: @bg; z-index: 10; padding: 15px 75px; }

	&:after {
		content: ""; height: 1px; width: 100%; background-color: #000;
		position: absolute; top: 50%; left: 0;

	}
}

.restricted {
	padding: 40px 15px;
	text-align: center; margin: 30px 0;
}
