// main: ../style.less


.admin-bar {

	#wpadminbar 		{ position: fixed; }

	.mobile-header  { top: 32px; }
}

/**********************************************************************/
/* HEADER */
/**********************************************************************/

.header {
	background-image:url('../images/header-bg.jpg');
	position: relative; z-index: 30; min-height: 155px;
	background-position: center; background-repeat: no-repeat; background-size: cover;

	.container {
		position: relative; max-width: 1170px; margin: 0 auto; padding: 0;
		display: flex; align-items: flex-end;

		.logo {
			padding: 12px 0 0 0;

			img { max-width: 105px; height: auto; }
		}

		.mobile-nav-wrap	{ display: none; }

		.nav-wrap {
			display: flex; flex-direction: column; margin-left: auto;

			.link-button { margin-left: auto; margin-bottom: 20px; }
		}

		.main-nav-wrap		{

			ul {
				padding: 0; margin: 0 auto; list-style-type: none; border-bottom: 2px solid #000;

				li {
					display: inline-block; margin: 0 40px 0 0; position: relative;

					a {
						font-size: 14px; .monts.bold; line-height: 34px; color: #000; letter-spacing: 0.04em;
						.uppercase;

						&:hover { color: @purple;  }
					}

					&:last-child { margin: 0; }

					&.current-menu-item a { color: @purple; }

					.sub-menu { display: none; position: absolute; background: #8f8dd9; min-width: 220px; border-bottom: 0; padding: 10px 0;
						li { display: block; margin: 0;
							a { display: block; font-size: 12px; line-height: 1.2em; color: #fff; padding: 5px 15px; }
						}
					}

					&.menu-item-has-children:hover .sub-menu { display: block; }
				}
			}
		}
	}
}
