// main: ../style.less

.cf:before,
.cf:after	{ content:""; display:table; }
.cf:after	{ clear:both; }
.cf 	 	{ zoom:1; }

.clearboth 		{ display: block; margin: 0; padding: 0; clear: both; }
.alignleft 		{ float: left; margin-right: 10px; }
.alignright 	{ float: right; margin-left: 10px; }
.aligncenter	{ margin-left: auto; margin-right: auto; display: block; }

.wpb_row.no-btm-margin,
.no-btm-margin,
.wpb_wrapper .no-btm-margin     { margin-bottom: 0; }
.small-btm-margin,
.wpb_wrapper .small-btm-margin  { margin-bottom: 10px; }
.medium-btm-margin,
.wpb_wrapper .medium-btm-margin { margin-bottom: 20px; }

// METTRE LES CLASSES RÉUTILISABLES ICI AVEC DES INDICATIONS POUR L'INTÉGRATEUR

.uppercase { text-transform: uppercase; }

.transition {
    transition:  all 0.3s ease;

    &.slow { transition:  all 0.7s ease-in-out; }
}

.letter-s {
    letter-spacing: 0.34em;
}

.link-button, #cancel, .login_button, .account .ms-account-wrapper div h2 a, #wp-submit {
    letter-spacing: 0.02em; color: @purple; display: inline-block; font-size: 12px;
    padding: 0 25px; line-height: 45px; height: 45px; text-decoration: none; border: 2px solid @purple;
    border-radius: 5px; .monts.bold; .uppercase; text-align: center;

    &:hover { background-color: @purple; color: #fff; }

    &.turquoise { border-color: @turquoise; color: @turquoise;

        &:hover { background-color: @turquoise; color: #fff; }
    }
}

.button-link, .button {
    letter-spacing: 0.02em; color: #fff; display: inline-block; font-size: 12px;
    line-height: 15px; padding: 13px 25px; text-decoration: none; border: 2px solid #fff;
    border-radius: 5px; .monts.bold; .uppercase; text-align: center; margin: 0 15px;

    &:hover { background-color: @purple; border-color: @purple; color: #fff; }
}
