// main: ../style.less

.home {

    img { max-width: 100%; height: auto; }

    .content .contain { max-width: 1170px; }

    .main-headerbox {
        display: flex; margin: 45px 0 55px 0; justify-content: center;

        .main-box { display: flex; align-content: center; margin-left: 15px; }

        a { display: table; margin-top: auto; margin-bottom: auto; line-height: 1.2; }

        .inner { margin-bottom: -15px;
           .link-button { margin: 0 15px 10px 30px; padding: 20px; width: 180px; max-width: 200px; }
        }
    }

    .headerboxes {
        display: flex; justify-content: center; align-items: center;

        > div  { margin: 0 15px; }
    }

    .latest-posts {

        .latests {
            max-width: 1200px; margin: 0 auto; width: 100%;
            display: flex;

            .latest {
                margin: 0 15px; width: 20%;

                .post-thumbnail {
                    width: 100%; height: 0; padding-bottom: 88%; margin: 0 0 15px 0;
                    background-position: center; background-repeat: no-repeat; background-size: cover;
                }

                .post-details {
                    border-top: 1px solid @dark; border-bottom: 1px solid @dark; padding: 15px 0;

                    h3 { .uppercase; font-size: 13px; line-height: 1.2; .monts.bold; letter-spacing: 0.04em; margin: 0 0 10px 0;
                        a { color: @dark;
                           &:hover { color: @purple; }
                        }
                     }
                    p { .georgia; line-height: 1.25; margin: 0; }
                }
            }
        }

        .button-link {
            border-color: @purple; color: @purple; min-width: 370px;
            display: table; margin: 50px auto 0 auto;

            &:hover { color: #fff; }
        }
    }

    .insta-block {
        max-width: 1170px; margin: 0 auto;
        display: flex;

        #sb_instagram { padding-bottom: 0 !important; }

        .link-button { flex-shrink: 0; margin-top: auto; margin-bottom: 30px; padding: 25px; height: auto; line-height: 1.2; }
    }

    .instore {
      max-width: 1200px; margin: 0 auto; width: 100%; text-align: center;

      .stores { justify-content: center; align-items: flex-start; display: flex;

         .store { margin: 0 15px;
            a, h6 { display: block; text-align: center; }
            h6 { .zaba; font-size: 45px; line-height: 30px; margin-bottom: 0; }
            img { margin-bottom: 10px; }
            &.space1 { flex-basis: 30%; }
            &.space2 { flex-basis: 40%; border-left: 1px solid #000; border-right: 1px solid #000; margin: 0; padding: 0 15px; }
            &.space3 { flex-basis: 30%; }
         }

      }

      .button-link {
          border-color: @turquoise; color: @turquoise; min-width: 370px;
          display: table; margin: 50px auto 0 auto;

          &:hover { color: #fff; background: @turquoise; }
      }
   }
}
