// main: ../style.less

.page {

    .page-banner {
        display: flex; align-items: center; justify-content: center;
        min-height: 380px; width: 100%; text-align: center; color: #fff;
        background-position: center; background-size: cover; background-repeat: no-repeat; margin: 0 0 85px 0;

        h1 { line-height: 1; letter-spacing: 0.04em; font-size: 14px; .uppercase; color: #fff; margin: 0; }

        .secondary-img { margin: 25px 0; max-width: 100%; height: auto; }

        .buttons {
            margin: 30px 0 0 0;
        }
    }

    .page-layout {
        margin: 0 0 85px 0;

        &.text_image {

            .inner-layout {
                width: 100%; display: flex;
                background-position: center; background-size: cover; background-repeat: no-repeat;
                min-height: 40vw; padding: 140px 60px 60px 60px;

                .container { flex: 1; max-width: 1170px; display: flex; }

                .text {
                    max-width: 550px;

                    p { line-height: 1.3; margin: 0 0 15px 0; }
                }

                &.right-bottom {

                    .container { align-items: flex-end; justify-content: flex-end; }
                }

                &.right-top {

                    .container { align-items: flex-start; justify-content: flex-end; }
                }

                &.right-center {

                    .container { align-items: center; justify-content: flex-end; }
                }

                &.left-bottom {

                    .container { align-items: flex-end; justify-content: flex-start; }
                }

                &.left-center {

                    .container { align-items: center; justify-content: flex-start; }
                }

                &.center-bottom {

                    .container { align-items: flex-end; justify-content: center; }
                }

                &.center-center {

                    .container { align-items: center; justify-content: center; }
                }

                &.center-top {

                    .container { align-items: flex-start;; justify-content: center; }
                }
            }
        }

        &.pictos {
            text-align: center;

            .blocs {
                display: flex; justify-content: center; margin: 0 0 35px 0;

                .bloc { padding: 0 15px; margin: 0 0 35px 0;

                    figure { width: 80px; height: 80px; margin: 0 auto 15px auto; background-position: center; background-repeat: no-repeat; }

                    p { max-width: 275px; }
                }
            }

            .button-link { min-width: 370px; border-color: @light-pink; color: @light-pink; border-width: 3px;

                &:hover { background-color: @light-pink; border-color: @light-pink; color: #fff; }
            }
        }

        &.forms {

            .formulas {
                display: flex; justify-content: center; margin: 0 0 35px 0;

                .forms {
                    position: relative; padding-top: 95px;
                    display: flex; justify-content: center;

                    .banner {
                        position: absolute; width: 100%; height: 80px;
                        top: 0; left: 0;
                        background-position: center; background-repeat: no-repeat; background-size: cover;
                    }

                    .form {
                        margin: 0 30px 35px 0; max-width: 170px;

                        p { font-size: 13px; line-height: 1.25; text-align: justify; }

                        .price-wrap {
                            display: flex; flex-direction: column; min-height: 80px; margin: 0 0 10px 0;
                            align-items: center; justify-content: center; padding: 0 10px;
                            border: 3px solid @light-pink; border-radius: 5px;

                            span { display: block; text-align: center; color: @light-pink; font-size: 16px; line-height: 1.2; .monts; .uppercase; }
                            span.price { font-size: 30px; .monts.bold; }
                            span.devise { display: inline-block; .monts.bold; }
                        }

                        &:last-of-type { margin: 0 0 35px 0; }
                    }
                }
            }
        }

        &.testimonials {

            .testimonials-slider {
                max-width: 800px; margin: 0 auto; width: 100%;
                position: relative;
                padding: 0 90px 40px 90px;

                &:before, &:after {
                    background-size: cover; background-repeat: no-repeat; content: "";
                    width: 33px; height: 30px; position: absolute; top: 130px;
                }

                &:before { background-image:url('../images/left-quote.png'); left: 0; }
                &:after { background-image:url('../images/right-quote.png'); right: 0; }

                .slick-dots {
                    position: absolute; width: 100%; text-align: center; bottom: 0; list-style-type: none; margin: 0;
                    padding: 0; line-height: 1; z-index: 30; left: 0;

                    li {
                        display: inline-block; margin: 0 4px; line-height: 12px;

                        button {
                        width: 12px; height: 12px; border-radius: 12px; border: none; padding: 0;
                        background-color: fade(@purple, 50%); text-indent: -9999px; .transition;
                        }

                        &.slick-active button { background-color: @purple; }
                    }
                }

                .testimonial {

                    figure {
                        width: 80px; height: 80px; border-radius: 30px; margin: 0 auto 20px auto;
                        background-position: center; background-repeat: no-repeat; background-size: cover;
                    }

                    h3 { font-size: 16px; .monts.bold; .uppercase; text-align: center; letter-spacing: 0.04em;

                        span { text-transform: none; }
                    }

                    p { font-size: 13px; line-height: 1.25; margin: 0 0 15px 0; text-align: center; }
                }
            }
        }

        &.image_button {

            .blocs {
                display: flex; justify-content: center; margin: 0 0 35px 0;

                .bloc {
                    max-width: 370px; width: 100%; margin: 0 15px;

                    h4 { text-align: center; }

                    figure {
                        width: 100%; height: 0; padding-bottom: 67%; margin: 0 0 30px 0;
                        background-position: center; background-size: cover; background-repeat: no-repeat;
                    }

                    .button-link { border-color: @dark; color: @dark; width: 100%; margin: 0;

                        &:hover { background-color: @dark; color: #fff; border-color: @dark; }
                    }
                }
            }
        }

        &.intro_text {

            .centered { text-align: center; max-width: 400px; .monts.bold; .uppercase; margin: 0 auto 70px auto; }

            .intro-bloc-inner {
                display: flex; max-width: 1000px; margin: 0 auto;

                > div { flex-shrink: 0; width: 50%; padding: 0 15px; }
            }
        }

        &.video {

            h4 { text-align: center; }

            .video-wrapper {
                background-position: center; background-repeat: no-repeat; background-size: cover;
                padding: 12vh 0; text-align: center;

                .video-wrap {
                    max-width: 980px; margin: 0 auto;

                    .inner { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; }

                    iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
                }
            }
        }

        &.team {

            .team {

                .member {
                    display: flex; max-width: 900px; margin: 0 auto;

                    .photo {
                        width: 170px; height: 170px; flex-shrink: 0;
                        background-position: center; background-size: cover; background-repeat: no-repeat;
                    }

                    .bio-wrap {
                        padding: 30px 0 0 30px;

                        h3 { font-size: 18px; .monts.bold; .uppercase;  letter-spacing: 0.25em; }
                        h5 { font-size: 14px; .monts.bold; text-transform: none; }

                        p { line-height: 1.2; }
                    }
                }
            }
        }
    }
}

/*=== Buttons ===*/

.account-menu ul li a, button.button-primary { display: block; width: 100%; height: 45px; padding: 0; margin: 0; border: 0; border-radius: 3px; .monts.bold; text-align: center; text-transform: uppercase; color: #fff; line-height: 45px; background-color: #8e7acc; }
.button { color: #000; border: 1px solid #000; background: transparent; }
.button-primary { background: url('../images/btn-vert.jpg') repeat-x; }
#wp-submit.button-primary { background-image: none; }

/*=== Account Menu ===*/

.account-menu { min-width: 255px;

   ul { list-style-type: none; padding: 0; margin: 0;

      li { margin-bottom: 30px;

         a { position: relative; }

         &.bleu a { background: url('../images/btn-bleu.jpg') repeat-x; }
         &.vert a { background: url('../images/btn-vert.jpg') repeat-x; }
         &.rose a { background: url('../images/btn-rose.jpg') repeat-x;

            &::after { content: ''; display: block; position: absolute; top: -11px; right: -11px; width: 30px; height: 26px; background: url('../images/btn-coeur.png') no-repeat; }
         }

         &.mauve a { background: url('../images/btn-mauve.jpg') repeat-x; }

      }
   }
}

/*=== Account Global Settings ===*/

.ms-account-wrapper {

   #account-activity { display: none; }

   #account-membership,
   #account-profile { margin-bottom: 40px; padding-bottom: 40px; border-bottom: 1px solid #eee; }

   #account-invoices { padding-bottom: 20px; }

   #account-membership h2 a,
   #account-profile h2 a,
   #account-invoices h2 a,
   #account-activity h2 a { float: none; display: block; margin-top: 15px; }
}

.ms-account-wrapper h2,
.ms-account-wrapper #account-membership h2,
.ms-account-wrapper #account-profile h2,
.ms-account-wrapper #account-invoices h2,
.ms-account-wrapper #account-activity h2,
.member-content legend,
.member-content h1 { display: block; text-align: center; border: 0; .zaba; font-size: 55px; line-height: 1.2em; margin-bottom: 20px; }

.member-content legend, .member-content h1 { margin-bottom: 40px; }

.login_button { width: 100%; margin-top: 15px; }

.member-content table { width: 100%;
   tr, td { padding: 2px 0; }
}

.ms-alert-box { background-color: @purple !important; color: #fff !important; border: 0; box-shadow: none; text-shadow: none; }

/*=== Membership ===*/

.ms-membership-details-wrapper {

   .ms-top-bar { background: none;
      h4 { margin: 0; }
   }
   .ms-bottom-bar { background: none;
      button.membership_signup { margin: 0; }
   }
}

/*=== Forms ===*/

.member-layouts { padding-top: 30px; }

.member-layouts { display: flex; flex-direction: row; }

.member-content { width: 100%; padding: 0 30px; }

.member-sidebar { min-width: 170px; }

.ms-membership-form-wrapper { flex-grow: 1; }

.ms-form, .ms-membership-form-wrapper {
   input { padding: 12px 12px; margin: 0; border: 1px solid @purple; border-radius: 5px; .monts.bold; line-height: 1em; text-transform: uppercase; }
}

.form-membership {

   .ms-form-element { padding: 0; margin: 0 0 25px 0;

      span { display: block;

         label { display: none; }
         input { float: none; width: 100%; }

      }
   }

   & + .ms-form-element { padding: 0; margin: 0; text-align: center;

      a { margin: 0; padding: 0; }
   }
}

#loginform  {

   .login-remember {
      input { margin-right: 5px;}
      label { display: inline-block; }
   }

}

.ms-login-form + a { display: block; text-align: center; }

/*=== Montly Content ===*/

.monthly-content  {

   h3 { display: block; margin: 0 auto 60px auto; width: 85px; height: 85px; border-radius: 85px; background-color: #c2f4ef; text-align: center; position: relative; display: flex; justify-content: center; align-items: center;
      span { .zaba; display: block; width: 120px; font-size: 50px; color: #95d2d2; line-height: 30px; }
   }

   .monthly-archive { display: flex; margin-bottom: 60px; width: 100%; justify-content: space-between; flex-flow: wrap;

      .monthly-content { border-right: 1px solid #e4e9ea; border-bottom: 1px solid #e4e9ea; padding: 60px; width: 50%; flex-shrink: 0; text-align: center; max-width: 340px; min-height: 260px;

         &.even { border-right: 0; }

         img { margin-bottom: 25px; }
         h4 { margin-bottom: 0; }
         .description { color: #6d6e70; }
      }

   }

}
