// main: ../style.less


.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    border-top-color: @green;
    color: @dark; font-size: 13px; .uppercase; line-height: 29px;

    &:before { color: @green; }
}

#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
    width: 44px;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
.select2-container .select2-choice {
    padding: 12px 12px; margin: 0; border: 1px solid @purple; border-radius: 5px; .monts.bold; line-height: 1em; text-transform: uppercase;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    background: #EEE;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle { background-color: @purple; }

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content { background-color: @green;  }

.woocommerce form .form-row label,
.woocommerce-page form .form-row label {
    .monts.bold; .uppercase;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: 100px;
}

.woocommerce table.shop_table th { .uppercase; .monts.bold; }

.woocommerce div.product form.cart .variations { width: auto; }
.woocommerce.single-product .container #content .product-desc form .quantity { width: auto !important; }
.woocommerce.single-product .container #content .product-desc form .single_add_to_cart_button { width: auto !important; }

.woocommerce div.product form.cart .variations td.label { display: none; }

.page, .archive {

    .woocommerce #respond input#submit,
    .woocommerce a.button,
    .woocommerce button.button,
    .woocommerce input.button {
        background-color: @purple; color: #fff;
        .transition; .monts.bold; letter-spacing: 0.04em; font-size: 13px; .uppercase;

        &:hover { background-color: @green; color: @dark; }
    }

    .post-flex {

        .product-post {

            .post-thumbnail { height: 7vw; }

            .post-text {
                margin: 0; border: none;

                .price { display: block; color: @purple; .monts; margin: 0 0 10px 0;  }
                .button { margin: 0 0 10px 0;  }
            }
        }
    }

    .quantity {
        flex-shrink: 0;
        float: left; background: #EEE;

        input {
            display: block; float: left; width: auto; margin: 0; padding: 0; text-align: center; border: 0; background-color: transparent; outline: 0;
            font-size: 16px; height: 35px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;

            &.minus, &.plus { width: 25%; }
            &.text { width: 50%; -moz-appearance: textfield; -webkit-appearance: none; border-left: 2px solid #fff; border-right: 2px solid #fff; }
        }
    }

    .cart-container, .woocommerce-container {
        margin: 40px auto 0 auto;

    }

    .woocommerce-pagination {
        padding: 0;

        ul.page-numbers {
            border: none; margin: 0; float: left;

            li {
                border: none; margin: 0 5px 0 0;

                .page-numbers { line-height: 35px; font-size: 12px; font-weight: bold; padding: 0; }
            }
        }
    }
}

.single-product {

    .container {

        #content {
            padding: 40px 0;

            .product-images {

                .images {
                    float: none; width: 100%;
                }
            }

            p.price { .monts; font-size: 30px; letter-spacing: 0.04em; color: @purple; }

            h1 { .uppercase; font-size: 36px; letter-spacing: 0.04em; }

            .product-desc {

                .product-content { border-top: 1px solid #000; padding-top: 2em; }

                form {
                    margin: 20px 0 0 0;

                    .woocommerce-variation-price .price { .monts; font-size: 30px; letter-spacing: 0.04em; color: @purple; }

                    .woocommerce-variation-availability { display: none; }

                    .quantity {
                        flex-shrink: 0; width: 30%;
                        float: left; background: #EEE;
                        margin-right: 20px;

                        input {
                            display: block; float: left; width: auto; margin: 0; padding: 0; text-align: center; border: 0; background-color: transparent; outline: 0;
                            font-size: 18px; height: 45px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;

                            &.minus, &.plus { width: 25%; }
                            &.text { width: 50%; -moz-appearance: textfield; -webkit-appearance: none; border-left: 2px solid #fff; border-right: 2px solid #fff; }
                        }
                    }

                    .single_add_to_cart_button {
                        background-color: @purple; .monts.bold; letter-spacing: 0.04em; font-size: 13px; .uppercase;
                        display: block; width: 100%; border-radius: 3px; text-align: center;
                        .transition;


                        &:hover { background-color: @green; color: @dark; }
                    }
                }
            }
        }
    }
}
