// main: ../style.less



/**********************************************************************/
/* 1200px */
/**********************************************************************/

@media ( max-width: @screen-lg-desktop ) {

    .container { width: 100%; }

   .header { position: static; top: 0; left: 0;
      .main-nav-wrap ul li { margin: margin: 0 20px 0 0; }
   }

}

/**********************************************************************/
/* 992px */
/**********************************************************************/

@media ( max-width: @screen-desktop ) {

    .error404 {

        .container { width: 80%; margin-left: -40%; }

    	h1	{ font-size: 24px; }
    	h2	{ font-size: 30px; }
    }

    .header {
        position: auto; width: 100%; background-color: #fff; z-index: 99;
        height: 80px;

        .container {
            display: block;

            .logo {
                position: relative; left: inherit; transform: none; height: 80px;
                display: block; top: inherit; padding: 10px 0;

                span {
                    font-size: 26px; line-height: 30px;

                }
            }

            .main-nav-wrap { display: none; }
            .mobile-nav-wrap { display: block; margin: 0 -15px;

                .hamburger {
                	position: absolute; overflow: hidden; top: 0; right: 0; margin: 0; padding: 0; background-color: #000; top: 10px; right: 15px;
                	width: 60px; height: 60px; font-size: 0; text-indent: -9999px; appearance: none; z-index: 9; margin: 0;
                	box-shadow: none; border-radius: none; border: none; cursor: pointer; transition: background 0.3s; display: block; text-align: center;

                	&:focus { outline: none; }

                	span { display: block; position: absolute; top: 30px; left: 15px; right: 15px; height: 3px; background: #fff; transition: background 0s 0.3s; transition-delay: 0.3s, 0s;

                		&:before,
                		&:after { position: absolute; display: block; left: 0; width: 100%; height: 3px; background-color: #fff; content: ""; transition-duration: 0.3s, 0.3s; transition-delay: 0.3s, 0s; }
                		&:before { top: -8px; transition-property: top, transform; }
                		&:after { bottom: -8px; transition-property: bottom, transform; }
                	}

                	&:hover {

                		span { background: #fff;

                			&:before,
                			&:after { background-color: #fff; }
                		}
                	}

                    &.is-active {
                        span { background: none;

                            &:before { top: 0; transform: rotate(45deg);  }
                            &:after { bottom: 0; transform: rotate(-45deg); }
                            &:before,
                            &:after { transition-delay: 0s, 0.3s; background-color: #fff; }
                        }
                    }
                }

                .mobile-menu { display: none; background-color: #000; padding: 30px;

            		ul { list-style-type: none; padding: 0; margin: 0;

                        .course-listing { display: none; }

            			li { margin-bottom: 10px;  }
            			li:last-child { margin: 0; }

            			li a { .uppercase; font-size: 17px; color: #fff; letter-spacing: 0.4em; }
                        li a:hover { color: @orange; }

                     li .sub-menu { display: none; }
            		}

                    #courses {
                        position: relative; opacity: 1; visibility: visible; background-color: #000;
                        padding: 30px;

                        .menu-item { padding: 0 0 15px 0; }
                        .menu-item:last-of-type { padding: 0; }
                        .menu-item.sub-active {

                            .sub-sub { display: none; }
                        }

                        a { padding: 0; font-size: 16px; }
                        a span { opacity: 1; visibility: visible; position: relative; right: inherit; }

                    }
            	}
            }

        }

    }
}

/**********************************************************************/
/* 768px */
/**********************************************************************/

@media ( max-width: @screen-tablet ) {

    .error404 {

        .cta { width: 100%; }
    }

    .admin-bar {

    	.mobile-header, .header  { top: 46px; }
    }

    .header .container {
      .logo { padding-left: 15px; }
      .nav-wrap { padding-left: 15px; padding-right: 15px; }
   }

    .page .gmap-wrapper { height: 50vw; }

    .page .page-layout {

      &.intro_text { padding-left: 15px; padding-right: 15px; }

      &.forms .formulas .forms { display: block;
         .form { max-width: none; margin: 0; padding: 0 15px; }
      }

   }

   .member-layouts {
       flex-direction: column;

       .account-menu  { padding: 0 15px; }
       .member-content { padding: 0 15px; }
       .member-sidebar { width: 100%; text-align: center; margin: 30px 0 0 0; }
   }

   .page .page-layout.pictos .button-link  { min-width: auto; }

   .post-flex { display: block;
      .post-list { width: 100%; margin: 0; }
      .post-single { display: block; width: 100%; margin: 0; }
      .blog-sidebar { width: 100%; margin-top: 30px; padding: 0; }
   }

}

/**********************************************************************/
/* 480px */
/**********************************************************************/


@media ( max-width: @screen-phone ) {


    .page .gmap-wrapper { height: 100vw; }

    .page .page-layout {

        &.pictos {

            .blocs {
                flex-direction: column;

                .bloc p { max-width: 100%; }
            }
        }

        &.team {

            .team {

                .member {
                    flex-direction: column; margin: 0 0 30px 0;

                    .photo { width: 100%; height: 0; padding-bottom: 100%; background-size: 85%; }
                }
            }
        }

        &.text_image {

            .inner-layout { padding: 80px 30px; }
        }

        &.testimonials {

            .testimonials-slider { padding: 0 30px 40px 30px; }
        }

        &.intro_text {

            .intro-bloc-inner {

                > div { width: 100%; }
            }
        }
   }

}
