// main: ../style.less

/*
/* Utiliser @primary, @secondary, etc. pour les couleurs.
/* Utiliser @grey, @darkgray, etc. pour les gris.
/* Utiliser @serif, @sansserif, etc. pour les fonts
*/

@primary: #00a7ca;
@dark: #231f20;

@bg: #f6fefe;

@grey: #353738;
@green: #3f6c57;
@orange: #da826c;

@turquoise: #96d2d2;
@purple: #8f8dd9;
@green: #b3f1e3;
@pink: #c9a5e5;
@blue: #9fddfa;
@light-pink: #ffafb8;


@screen-grid: 1200px;
@screen-desktop: 1024px;
@screen-phone: 599px;
